networkx==3.1
langchain==0.1.11
langchain-openai==0.0.8
fastapi==0.100.0
uvicorn==0.23.1
fastapi-utils==0.2.1
environs==9.5.0
openai>=1.2.4
PyMySQL==1.1.0
SQLAlchemy==1.4.49
qdrant-client==1.7.0
pinecone-client==2.2.2
langfuse==2.21.3